
#index { 
    font-size: 40px;
    width: 200px;
    background-color: lightblue;
    border: solid gray;
    text-align: center;
}

#introduction{
    font-size: 20px;
}

button{
font-size: 20px;
color: rgb(2, 2, 20);
background-color: grey;
width: 100px;
height: auto;
}

#button2{
    background-color: aqua;
}